/* --- Variables --- */
:root {
    --primary-color: #4f772d;
    --secondary-color: #90a955;
    --background-color: #90a955;
    --text-color: #ecf39e;
    --font-family: 'Arial', sans-serif;
}

/* --- Basic Reset --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 60px; /* Account for fixed header */
    position: relative;
}

/* --- Header and Navigation --- */
header {
    background: #31572CE6; /* rgba(49, 87, 44, 0.9) */
    color: #90a955;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border: 5px solid #ecf39e;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    margin-right: 1rem;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 1.5rem;
}

nav a {
    color: #ecf39e;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--secondary-color);
}

/* Hamburger Menu */
#hamburger-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

#hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #90a955;
    margin: 5px 0;
    transition: 0.4s;
}

/* --- Sections --- */
.container {
    max-width: 100%;
    margin: 0 100px 0 100px;
    padding: 0 20px;
}

section {
    padding: 4rem 0;
    background-color: #90a955; /* rgba(236, 243, 158, 0.7) */
    position: relative;
    min-height: 100px;
    border: 5px double #ecf39e; /* Add this line */
}

/* --- Parallax Container Styles --- */
.parallax-container {
    height: 50vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.parallax-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-color: #90a955;
    opacity: 0.7;
}

/* --- Welcome Banner --- */
#welcome-banner {
    text-align: center;
    padding: 6rem 0;
    background-color: #90a955; /* rgba(236, 243, 158, 0.9) */
    position: relative;
    /* height: 600px;  Removed fixed height for better responsiveness*/
    width: 100%;    /* Explicitly set width */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* --- Image Styling for Welcome Banner and Responsive Images --- */
#welcome-banner img {
    max-width: 90%; /* Adjusted from 100% to allow some padding */
    height: auto;
    display: block; /* Makes the image a block-level element */
    margin: 0 auto; /* Centers the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    border-radius: 10px; /* Softens the corners */
}

.map-container {
    margin-top: 20px;
}

.email-address {
    color: #31572c; /* Or color: white; */
}

/* Add a media query for smaller screens, as the max-width might still be too large */
@media (max-width: 768px) {
    #welcome-banner img {
        min-width: 95%;
    }

    .parallax-background{
        background-size: cover;
        background-position: center top;
    }

    .parallax-container {
        height: auto;
        min-height: 50vh;
    }
}

/* --- Typography --- */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

/* --- Program Table --- */
.program-tables-container{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 20px auto;
}

.program-table {
    width: 30%; /* Adjust width as needed for desktop layout */
    border-collapse: collapse;
    background-color: #fff;
}

.program-table th, .program-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid var(--primary-color);
}

.program-table th {
    background-color: var(--primary-color);
    color: var(--text-color);
}
.program-table td {
    background-color: #fff;
    color: #31572c;
}

.program-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.program-table a {
    color: var(--primary-color);
    text-decoration: none;
}

.program-table a:hover {
    text-decoration: underline;
}

/* Mobile Styles for Program Table */
@media (max-width: 768px) {
    .program-tables-container{
      flex-direction: column;
      width: 95%;
      margin: 20px auto;
    }

    .program-table {
        width: 100%; /* Full width on mobile */
        margin-bottom: 20px; /* Add spacing between tables */
    }
}

/* --- Artist Section --- */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

/* --- Modal --- */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080; /* rgba(0, 0, 0, 0.5) */
    z-index: 1000;
    overflow-y: auto; /* Allow vertical scrolling for the entire modal */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 80%;  /* Still useful to limit width on very large screens */
    width: 80%;    /* Allow modal to size itself based on content */
    max-height: 80vh; /* Prevents modal from being taller than viewport */
    /* Remove or adjust height constraint if you want modal to be taller */
    /* height: auto;   Use this to remove any height constraint */
}

/* Modal Header Image */
.modal-header img {
    max-width: 100%; /* Image will not exceed the width of its container */
    height: auto;    /* Height will adjust automatically to maintain aspect ratio */
    display: block;  /* Makes the image a block-level element */
    margin: 0 auto;  /* Centers the image horizontally */
}

/* Add a new class for the modal body to allow scrolling within it */
.modal-body {
    max-height: 50vh; /* Reduced from 60vh - Adjust as needed for content */
    overflow-y: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #fff; /* White 'x' for good contrast */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    border-radius: 50%; /* Make the background circular */
    width: 30px;
    height: 30px;
    display: flex; /* Use flexbox to center the 'x' */
    justify-content: center;
    align-items: center;
    line-height: 1; /* Adjust if needed to fine-tune vertical centering */
    transition: background-color 0.2s; /* Smooth transition on hover */
}

/* --- Social Links --- */
.social-links {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.social-links a {
    color: var(--primary-color);
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: var(--secondary-color);
}

/* --- Footer --- */
footer {
    background-color: var(--primary-color);
    color: #90a955;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
    position: relative;
    /*z-index: 1; remove this*/
}

footer a {
    color: #90a955;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

/* --- Mobile Navigation and Responsiveness --- */
@media (max-width: 768px) {
    .modal-content {
        width:95%;
        max-width: 95%; /* Wider on smaller screens */
        max-height: 90vh;
    }

    #nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #31572CE6; /* rgba(49, 87, 44, 0.9) */
    }

    #nav-links li {
        margin-left: 0;
    }

    /* Show the menu when 'show' class is added */
    #nav-links.show {
        display: flex; /* Or you could use display: block; */
    }

    #hamburger-menu {
        display: block;
    }

    #hamburger-menu.open span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    #hamburger-menu.open span:nth-child(2) {
        opacity: 0;
    }

    #hamburger-menu.open span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    nav li {
        padding: 1rem;
        border-top: 1px solid rgba(236, 243, 158, 0.1);
    }

    .container {
        padding: 0 15px;
        margin: 0;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    section {
        min-height: 50vh;
    }
}

/* --- Contact Section --- */
#contact {
    padding: 4rem 0;
    background-color: #90a955; /* Consistent background */
    color: var(--text-color);
}

#contact .container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center content */
    gap: 2rem; /* Spacing between image and form */
}

.contact-image {
    max-width: 80%;
    height: auto;
    margin-bottom: 2rem; /* Space between image and form */
}

.content-wrapper {
    background-color: rgba(236, 243, 158, 0.7);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px; /* Limit width on larger screens */
}

.contact-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.contact-info {
    text-align: center;
}

.contact-info h3 {
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

.form-section h2 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1rem;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}

input[type="text"],
input[type="email"],
textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-family: var(--font-family);
}

textarea {
    resize: vertical; /* Allow vertical resizing */
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.checkbox-container label {
    margin-left: 0.5rem;
}

.math-captcha {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.math-captcha label